<!-- Loading 表示 -->
<div id="loading-screen" class="flex flex-col items-center justify-center min-h-screen bg-white z-50 fixed inset-0">
  <div class="animate-spin rounded-full h-12 w-12 border-4 border-purple-500 border-t-transparent mb-4"></div>
  <p class="text-gray-700">loading now...</p>
</div>

<div id="main-content" class="hidden">
<div id="test"></div>
<div class="flex justify-center bg-purple-50 mx-auto max-w-5xl">
  <%= link_to quick_noise_report_path,
              class: "flex flex-col items-center bg-white h-48 w-full ml-4 mr-4 mb-4 rounded-xl shadow-md transition-all duration-200" do %>
    <div class="w-20 h-20 rounded-full flex items-center justify-center mt-9 mb-3 bg-gradient-to-r from-orange-400 to-orange-500 shadow-lg transition-all duration-300">
      <%= image_tag "history_edu_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.svg", class: "w-10" %>
    </div>
    <h1 class="text-center mb-1">クイックレポート</h1>
    <p class="text-xs text-gray-500">最新の録音からレポートを作成</p>
  <% end %>

  <%= link_to noise_reports_path,
              class: "flex flex-col items-center bg-white h-48 w-full ml-4 mr-4 mb-4 rounded-xl shadow-md transition-all duration-200" do %>
    <div class="w-20 h-20 rounded-full flex items-center justify-center mt-9 mb-3 bg-gradient-to-r from-indigo-600 to-indigo-500 shadow-lg transition-all duration-300">
      <%= image_tag "description_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.svg", class: "w-9" %>
    </div>
    <h1 class="text-center mb-1">証明書作成</h1>
    <p class="text-xs text-gray-500">レポートから証明書を作成</p>
  <% end %>
</div>

<div class="flex justify-center bg-purple-50 mx-auto max-w-5xl">
  <%= link_to quick_noise_report_path,
              class: "flex flex-col items-center bg-white h-48 w-full ml-4 mr-4 mb-16 rounded-xl shadow-md transition-all duration-200" do %>
    <div class="w-20 h-20 rounded-full flex items-center justify-center mt-9 mb-3 bg-gradient-to-r from-purple-600 to-pink-500 shadow-lg transition-all duration-300">
      <%= image_tag "signal_cellular_alt_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.svg", class: "w-10" %>
    </div>
    <h1 class="text-center mb-1">データ分析</h1>
    <p class="text-xs text-gray-500">騒音レベルの傾向を確認</p>
  <% end %>

  <%= link_to usage_guide_path,
              class: "flex flex-col items-center bg-white h-48 w-full ml-4 mr-4 mb-36 rounded-xl shadow-md transition-all duration-200" do %>
    <div class="w-20 h-20 rounded-full flex items-center justify-center mt-9 mb-3 bg-gradient-to-r from-emerald-500 to-emerald-600 shadow-lg transition-all duration-300">
      <%= image_tag "help_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.svg", class: "w-12" %>
    </div>
    <h1 class="text-center mb-1">使い方ガイド</h1>
    <p class="text-xs text-gray-500">アプリの機能と使い方</p>
  <% end %>
  </div>
  </div>
</div>
