<div id="test"></div>
  <div class="flex justify-center bg-purple-50 mx-auto max-w-5xl">
    <%= link_to "#", class: "flex flex-col items-center bg-white h-48 w-full ml-4 mr-4 mb-4 rounded-xl shadow-md transition-all duration-200" do %>
      <div class="w-20 h-20 rounded-full flex items-center justify-center mt-9 mb-3 bg-gradient-to-r from-indigo-600 to-indigo-500 shadow-lg transition-all duration-300">
        <%= image_tag "description_25dp_B7B7B7_FILL0_wght400_GRAD0_opsz24.svg", class:"w-13" %>
      </div>
      <h1 class="text-center mb-1">
        証明書作成
      </h1>
      <p class="text-xs text-gray-500">
        騒音データから証明書を作成
      </p>
    <% end %>
    <%= link_to "#", class: "flex flex-col items-center bg-white h-48 w-full ml-4 mr-4 mb-4 rounded-xl shadow-md transition-all duration-200" do %>
      <div class="w-20 h-20 rounded-full flex items-center justify-center mt-9 mb-3 bg-gradient-to-r from-indigo-600 to-indigo-500 shadow-lg transition-all duration-300">
        <%= image_tag "description_25dp_B7B7B7_FILL0_wght400_GRAD0_opsz24.svg", class:"w-13" %>
      </div>
      <h1 class="text-center mb-1">
        証明書作成
      </h1>
      <p class="text-xs text-gray-500">
        騒音データから証明書を作成
      </p>
    <% end %>
  </div>
  <div class="flex justify-center bg-purple-50 mx-auto max-w-5xl">
    <%= link_to "#", class: "flex flex-col items-center bg-white h-48 w-full ml-4 mr-4 mb-16 rounded-xl shadow-md transition-all duration-200" do %>
      <div class="w-20 h-20 rounded-full flex items-center justify-center mt-9 mb-3 bg-gradient-to-r from-indigo-600 to-indigo-500 shadow-lg transition-all duration-300">
        <%= image_tag "description_25dp_B7B7B7_FILL0_wght400_GRAD0_opsz24.svg", class:"w-13" %>
      </div>
      <h1 class="text-center mb-1">
        証明書作成
      </h1>
      <p class="text-xs text-gray-500">
        騒音データから証明書を作成
      </p>
    <% end %>
    <%= link_to "#", class: "flex flex-col items-center bg-white h-48 w-full ml-4 mr-4 mb-16 rounded-xl shadow-md transition-all duration-200" do %>
      <div class="w-20 h-20 rounded-full flex items-center justify-center mt-9 mb-3 bg-gradient-to-r from-indigo-600 to-indigo-500 shadow-lg transition-all duration-300">
        <%= image_tag "description_25dp_B7B7B7_FILL0_wght400_GRAD0_opsz24.svg", class:"w-13" %>
      </div>
      <h1 class="text-center mb-1">
        証明書作成
      </h1>
      <p class="text-xs text-gray-500">
        騒音データから証明書を作成
      </p>
    <% end %>
  </div>
