<footer class="bg-white p-4 md:p-6 text-black w-full left-0 fixed bottom-0">
  <div class="flex justify-around items-center">
    <%= link_to root_path, class: "flex flex-col items-center" do %>
      <%= image_tag "home_25dp_B7B7B7_FILL0_wght400_GRAD0_opsz24.svg" , class:"w-7" %>
      <p class="text-xs text-gray-400">ホーム</p>
    <% end %>
    <%= link_to recordings_path, class: "flex flex-col items-center" do %>
      <%= image_tag "mic_25dp_B7B7B7_FILL0_wght400_GRAD0_opsz24.svg" , class:"w-7 " %>
      <p class="text-xs text-gray-400">履歴</p>
    <% end %>
    <%= link_to posts_path, class: "flex flex-col items-center" do %>
      <%= image_tag "groups_25dp_B7B7B7_FILL0_wght400_GRAD0_opsz24.svg" , class:"w-7" %>
      <p class="text-xs text-gray-400">コミュニティ</p>
    <% end %>
    <%= link_to noise_reports_path, class: "flex flex-col items-center" do %>
      <%= image_tag "history_edu_24dp_B7B7B7_FILL0_wght400_GRAD0_opsz24.svg" , class:"w-7" %>
      <p class="text-xs text-gray-400">レポート一覧</p>
    <% end %>
    <%= link_to certificates_path, class: "flex flex-col items-center" do %>
      <%= image_tag "description_24dp_B7B7B7_FILL0_wght400_GRAD0_opsz24.svg", class:"w-7 text-red-500" %>
      <p class="text-xs text-gray-400">診断書一覧</p>
    <% end %>
  </div>
</footer>