<% content_for(:title, t('.title')) %>
<h1 class="text-xl md:text-2xl text-center text-gray-700 font-semibold my-7">
  <%= t('.title') %>
</h1>
<div class="bg-white rounded-xl shadow-md mx-5 py-8 mb-28">
  <div class="bg-purple-100 rounded mx-8 pb-3">
    <div class="flex justify-around">
      <p class="mt-3 ml-11 text-gray-500">録音日 :</p>
      <p class="mt-3 text-gray-500">
        <%= @noise_report.recording.recorded_at.strftime("%m月%d日 %H時%M分") %>
      </p>
    </div>
    <hr class="border-t border-gray-300 mx-20 lg:mx-64 mt-1">
    <div class="flex justify-around">
      <p class="mt-2 text-gray-500">録音時間 :</p>
      <p class="mt-2 text-gray-500">
        <%= formatted_duration(@noise_report.recording.duration) %>
      </p>
    </div>
    <hr class="border-t border-gray-300 mx-20 lg:mx-64 mt-1">
    <div class="flex justify-around">
      <p class="mt-2 text-gray-500">最大騒音レベル :</p>
      <p class="mt-2 text-gray-500">
        <%= formatted_max_decibel(@noise_report.recording.max_decibel) %>
      </p>
    </div>
    <hr class="border-t border-gray-300 mx-20 lg:mx-64 mt-1">
  </div>
  <%= form_with model: @noise_report do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="flex flex-col -mx-3">
      <div class="mx-11 mt-9 mb-6 md:mb-8">
        <%= f.label :title, class: "block uppercase tracking-wide text-xs text-gray-700 font-bold mb-2" %>
        <%= f.text_field :title, placeholder: "レポート名を記入してください",
          class: "appearance-none block w-full bg-white text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-purple-300 focus:border-2" %>
      </div>
      <div class="mx-11 mb-6 md:mb-8">
      <%= f.label :place, class: "block uppercase tracking-wide text-xs text-gray-700 font-bold mb-2" %>
      <%= f.text_field :place, value: GeocoderService.reverse_geocode(@noise_report.recording.place_id), disabled: true,
        class: "appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none" %>
      </div>
      <div class="mx-11 mb-6 md:mb-8">
        <%= f.label :location, class: "block uppercase tracking-wide text-xs text-gray-700 font-bold mb-2" %>
        <%= f.text_field :location, placeholder: "マンション名、部屋番号など",
          class: "appearance-none block w-full bg-white text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-purple-300 focus:border-2" %>
      </div>
      <div class="mx-11 mb-6 md:mb-8">
        <%= f.label :noise_type, class: "block uppercase tracking-wide text-xs text-gray-700 font-bold mb-2" %>
        <%= f.select :noise_type,
          NoiseReport.noise_types_i18n.invert.map { |key, value| [key, NoiseReport.noise_types[value].to_i] }, { include_blank: false, selected: NoiseReport.noise_types[@noise_report.noise_type] },
          class: "appearance-none block w-full bg-white text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-purple-300 focus:border-2" %>
      </div>
      <div class="mx-11 mb-6 md:mb-8">
        <%= f.label :frequency, class: "block uppercase tracking-wide text-xs text-gray-700 font-bold mb-2" %>
        <%= f.select :frequency,
          NoiseReport.frequencies_i18n.invert.map { |key, value| [key, NoiseReport.frequencies[value].to_i] },{ include_blank: false, selected: NoiseReport.noise_types[@noise_report.noise_type] },
          class: "appearance-none block w-full bg-white text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-purple-300 focus:border-2" %>
      </div>
      <div class="mx-11 mb-6 md:mb-8">
        <%= f.label :memo, class: "block uppercase tracking-wide text-xs text-gray-700 font-bold mb-2" %>
        <%= f.text_area :memo, placeholder: "騒音についての詳細な状況や影響などを記入してください",
          class: "appearance-none block w-full bg-white text-gray-700 border border-gray-200 rounded h-28 py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-purple-300 focus:border-2" %>
      </div>
      <div class="flex justify-between px-11">
        <%= link_to "← 戻る", noise_reports_path, class: "text-center h-10 w-24 bg-gray-300 text-black py-2 px-4 rounded hover:bg-gray-400" %>
        <%= f.submit t('.submit'), class: "w-48 bg-gradient-to-r from-orange-400 to-orange-500 text-white py-2 px-4 rounded mb-12 md:mb-16" %>
      </div>
    </div>
  <% end %>
</div>
