<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= tag.meta property: "og:title", content: "騒音診断アプリ | NoiseProof" /%>
    <meta property="og:site_name" content="NoiseProof" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://noiseproof.onrender.com" />
    <%= tag.meta property: "og:image", content: image_url("main.png") %>
    <meta property="og:description" content="NoiseProofは、あなたの静かな生活を取り戻すためのアプリです。騒音の記録から、管理人への診断書作成、さらには同じ悩みを持つ人との情報交換まで、トータルでサポートします。" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <%= favicon_link_tag asset_path('Group 1.svg'), rel: 'icon', type: 'image/svg+xml' %>
    <%= favicon_link_tag asset_path('Group 1.svg'), rel: 'apple-touch-icon' %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="flex flex-col min-h-screen">
    <% if logged_in? %>
      <%= render 'shared/after_login_header' %>
    <% else %>
      <%= render 'shared/header' %>
    <% end %>
    <%= render 'shared/flash_messages' %>
    <div class="flex-grow bg-purple-50">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
